:host {
	--sds-c-card-color-background: linear-gradient(180deg, rgba(255,255,255,1) 80%, #fae8d2 100%);
}
.movie-tile {
	display: block;
	border: 1px solid #d2955d;
	border-radius: .25rem;
	background-color: #fae8d2;
}
.image-dem {
	height: 400px;
	width: 250px;
}
